prov.dtbicom.xyz:8443 {
  encode zstd gzip
  tls {
    dns acmedns {
      username {$ACMEDNS_USERNAME}
      password {$ACMEDNS_PASSWORD}
      subdomain {$ACMEDNS_SUBDOMAIN}
      server_url {$ACMEDNS_SERVER_URL}
    }
  }
  reverse_proxy 127.0.0.1:6001
}
